{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
`
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="#" method="post" autocomplete="off" novalidate="">

    <h1 class="govuk-heading-xl">
        What is your phone number?
    </h1>

    <p>
      We will not share this information with the other parent.
    </p>
    {{ data | dump }}
    {{ 
        govukInput({
            label: {
                text: "Phone number",
                classes: "govuk-label--m"
            },
            hint: {
                text: "We will only call you if we have any questions about your case. If you do not have your own phone, give the phone number of someone you trust."
            },
            id: "phone",
            name: "phone",
            value: data.phone
        })
    }}
    
    
  
  {{ 
    govukButton({
      text: "Continue"
    })
  }}

</form>

  </div>
</div>

{% endblock %}
