{% extends "layout.html" %}
{% from "../component/date-input/macro.njk" import govukDateInputNew %}


{% block casaPageTitle %}
  New Date example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 
      <h1 class="govuk-heading-xl">Date example</h1>
      <div class="info govuk-!-padding-3 govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Iusses</h2>
        <p clsas="govuk-body">Dragon currently can't enter values into number fields.</p>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Disadvantaces</h2>
        <p clsas="govuk-body">Text fields allow input of things other then the pattern, though this largely only seems to work in chrome.</p>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Details</h2>
        <p clsas="govuk-body">Moved from number to text, and using inputmode for browser keyboard (this should be a number keyboard on mobile. Also maxlength can now work.</p>

        <p class="govuk-body">Open issue about on <a href="https://github.com/alphagov/govuk-frontend/issues/1449">govuk-frontend</a>.</p>
      </div>

          

    {{ 
      govukDateInput(
        {
          id: "passport-issued",
          namePrefix: "passport-issued",
          fieldset: {
            legend: {
              text: "When was your passport issued?",
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 12 11 2007"
          }
      }
      ) 
    }}

    <hr  class="govuk-!-margin-bottom-5" />

    {{ 
      govukDateInputNew(
        {
          id: "passport-issued-redone",
          namePrefix: "passport-issued-redone",
          fieldset: {
            legend: {
              text: "When was your passport issued? Part 2",
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 12 11 2007"
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              attributes: {
                maxlength: "2"
              }
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              attributes: {
                maxlength: "2"
              }
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              attributes: {
                maxlength: "4"
              }
            }
          ]
        }
      ) 
    }}
    
    </div>
  </div>
      
{% endblock %}
