<html>
    <head>
        <style>
            body { font-family: Arial; }
            label { display: block; padding: 10px; }
            button { padding: 10px; background: grey; color: white; }
        </style>
    </head>
<body>

<a href="/">back</a>

<label for="cat-name">Select your cat name

<select name="cat-name" id="cat-name">
    <option value="">Select a name</option>
    <option value="Cat 1">Cat 1</otpion>
    <option value="Cat 2">Cat 2</otpion>
    <option value="Cat 3">Cat 3</otpion>
</select>
</label>


<label for="cat-type">what is your cat type?

    <input type="text" name="cat-type" id="cat-type">
</label>


<button>Submit</button>
</body>
</html>