{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
        <h1 class="govuk-heading-xl">  Using this website </h1>

          <p class="govuk-body">This website is run by the Department for Work and Pensions (DWP). We want as many people as possible to be able to use this website. For example, that means you should be able to: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts</li>
            <li>zoom in up to 300% without the text spilling off the screen</li>
            <li>navigate most of the website using just a keyboard</li>
            <li>navigate most of the website using speech recognition software</li>
            <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
          </ul>

          <p class="govuk-body">We’ve also made the website text as simple as possible to understand. </p>

          <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability. </p>

        <h2 class="govuk-heading-l">  How accessible the website is </h2>
          <p class="govuk-body">We know some parts of this website aren’t fully accessible: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>older PDF documents aren’t fully accessible to screen reader software, and may not show true colours</li>
          </ul>

        <h2 class="govuk-heading-l">  What to do if you can’t access parts of this website </h2>
          <p class="govuk-body">Our agents can help you to use the online calculator.  They can also offer a calculation verbally over the phone, or provide you with a paper calculation by post, large print, or braille. </p>

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www2.dwp.gov.uk/contact-cmoptions/en/new-contact.asp" target="_blank" class="govuk-link">Contact form</a></li>
            <li>
              Telephone: 0800 083 4375 <br> Monday to Friday, 8am to 8pm <br> Saturdays, 9am to 4pm
            </li>
            <li>
            Welsh language: 0800 408 0308 <br> Monday to Friday, 9am to 5pm
            </li>
          </ul>

          <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link" target="_blank">Find out about call charges</a> </p>
          <p class="govuk-body">We’ll consider your request and get back to you in 24 hours. </p>

        <h2 class="govuk-heading-l">  Reporting accessibility problems with this website </h2>
          <p class="govuk-body">We’re always looking to improve the accessibility of this website. If you find any problems that aren’t listed on this page or think we’re not meeting the requirements of the accessibility regulations, contact us: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www2.dwp.gov.uk/contact-cmoptions/en/new-contact.asp" target="_blank" class="govuk-link">Contact form</a></li>
            <li><a href="https://cmo.g4s.com:8143/icsclient/index2.html" target="_blank" class="govuk-link">Webchat</a></li>
            <li>
              Telephone: 0800 083 4375 <br> Monday to Friday, 8am to 8pm <br> Saturdays, 9am to 4pm
            </li>
            <li>
            Welsh language: 0800 408 0308 <br> Monday to Friday, 9am to 5pm
            </li>
          </ul>

          <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link" target="_blank">Find out about call charges</a> </p>

        <h2 class="govuk-heading-l">  Enforcement procedure </h2>
          <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the accessibility regulations. If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com" class="govuk-link" target="_blank">contact the Equality Advisory and Support Service (EASS)</a>. </p>

        <h2 class="govuk-heading-l">  Contacting us by phone or visiting us in person </h2>
          <p class="govuk-body">Visit any Jobcentre Plus or Citizens Advice to receive a leaflet signposting to our services. </p>
          <p class="govuk-body">Our offices have audio induction loops, or if you contact us before your visit we can arrange a British Sign Language (BSL) interpreter. </p>
          <p class="govuk-body">If you call, our agents can help you to use the online calculator.  They can also offer a calculation verbally over the phone, or provide you with a paper calculation by post, large print, or braille. </p>

        <h2 class="govuk-heading-l">  Technical information about this website’s accessibility </h2>
          <p class="govuk-body">The DWP is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018. </p>
          <p class="govuk-body">This website is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link" target="_blank">Web Content Accessibility Guidelines version 2.1 AA standard</a>. </p>

        <h2 class="govuk-heading-l">  Issues with PDFs and other documents </h2>
          <p class="govuk-body">Many of our older PDFs don’t meet accessibility standards - for example, they may not be marked up so they’re accessible to a screen reader. By September 2020, we plan to either fix these or replace them with accessible HTML pages. </p>

        <h2 class="govuk-heading-l">  How we tested this website </h2>
          <p class="govuk-body">This website was last tested on 30/05/2019. The test was carried out by the Child Maintenance Group Quality Assurance Team. </p>
          <p class="govuk-body">We tested: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>the whole website, available at <a href="https://www.gov.uk/calculate-child-maintenance" class="govuk-link" target="_blank">https://www.gov.uk/calculate-child-maintenance</a></li>
          </ul>

          <p class="govuk-body">This statement was prepared on 23rd September 2019. It was last updated on 23rd September 2019. </p>
    </div>
</div>
{% endblock %}