{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
        <h1 class="govuk-heading-xl">  Defnyddio'r wefan yma </h1>

          <p class="govuk-body">Mae'r wefan yma yn cael ei rheoli gan yr Adran Gwaith a Phensiynau (DWP). Rydym am i gymaint o bobl â phosibl allu defnyddio'r wefan yma. Er enghraifft, mae hynny'n golygu y dylech allu: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>newid lliwiau, lefelau cyferbyniad a ffontiau</li>
            <li>chwyddo hyd at 300% heb i'r testun syrthio oddi ar y sgrin</li>
            <li>gwe-lywio'r rhan fwyaf o'r wefan gan ddefnyddio bysellfwrdd yn unig </li>
            <li>gwe-lywio'r rhan fwyaf o'r wefan gan ddefnyddio meddalwedd adnabod llais</li>
            <li>gwrando ar y rhan fwyaf o'r wefan gan ddefnyddio rhaglen darllen sgrin (gan gynnwys y fersiynau diweddaraf o JAWS, NVDA a VoiceOver)</li>
          </ul>

          <p class="govuk-body">Rydym hefyd wedi gwneud testun y wefan mor syml â phosibl i'w deall. </p>

          <p class="govuk-body">Os oes gennych anabledd, mae gan <a href="https://mcmw.abilitynet.org.uk" class="govuk-link">AbilityNet</a> gyngor ar wneud eich dyfais yn haws i'w defnyddio. </p>

        <h2 class="govuk-heading-l">  Pa mor hygyrch yw'r wefan </h2>
          <p class="govuk-body">Rydym yn gwybod nad yw rhai rhannau o'r wefan yma yn hygyrch: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>nid yw dogfennau PDF hŷn yn gwbl hygyrch i feddalwedd darllen sgrin, ac efallai na fyddant yn dangos y lliwiau cywir</li>
          </ul>

        <h2 class="govuk-heading-l">  Beth i'w wneud os na allwch ddefnyddio rhannau o'r wefan yma </h2>
          <p class="govuk-body">Gall ein hasiantau eich helpu i ddefnyddio'r cyfrifydd ar-lein. Gallant hefyd gynnig cyfrifiad ar lafar dros y ffân, neu ddarparu cyfrifiad ar bapur i chi trwy'r post, print bras, neu braille. </p>

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www2.dwp.gov.uk/contact-cmoptions/en/new-contact.asp" target="_blank" class="govuk-link">Ffurflen gyswllt</a></li>
            <li>
              Gymraeg: 0800 083 4375 <br> Dydd Llun i ddydd Gwener, 8am to 8pm <br> Dydd Sadwrn, 9am i 4pm
            </li>
            <li>
            Llinell Gymorth Gymraeg: 0800 408 0308 <br> Dydd Llun i ddydd Gwener, 9am i 5pm
            </li>
          </ul>

          <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link" target="_blank">Mwy am gostau ffonio</a> </p>
          <p class="govuk-body">Byddwn yn ystyried eich cais ac yn cysylltu yn âl gyda chi o fewn 24 awr. </p>

        <h2 class="govuk-heading-l">  Rhoi gwybod i ni am broblemau hygyrchedd gyda'r wefan yma </h2>
          <p class="govuk-body">Rydym bob amser yn ceisio gwella hygyrchedd y wefan yma. Os byddwch yn dod o hyd i unrhyw broblemau nad ydynt wedi'u rhestru ar y dudalen yma neu'n credu nad ydym yn cwrdd gyda gofynion y rheoliadau hygyrchedd, cysylltwch gyda ni: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www2.dwp.gov.uk/contact-cmoptions/en/new-contact.asp" target="_blank" class="govuk-link">Ffurflen gyswllt</a></li>
            <li><a href="https://cmo.g4s.com:8143/icsclient/index2.html" target="_blank" class="govuk-link">Webchat</a></li>
            <li>
              Gymraeg: 0800 083 4375 <br> Dydd Llun i ddydd Gwener, 8am to 8pm <br> Dydd Sadwrn, 9am i 4pm
            </li>
            <li>
            Llinell Gymorth Gymraeg: 0800 408 0308 <br> Dydd Llun i ddydd Gwener, 9am i 5pm
            </li>
          </ul>

          <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link" target="_blank">Mwy am gostau ffonio</a> </p>

        <h2 class="govuk-heading-l">  Gweithdrefn gorfodi </h2>
          <p class="govuk-body">Mae'r Comisiwn Cydraddoldeb a Hawliau Dynol (EHRC) yn gyfrifol am orfodi'r rheoliadau hygyrchedd. Os nad ydych yn hapus gyda sut rydym yn ymateb i'ch cwyn, cysylltwch gyda'r Gwasanaeth Cynghori a Chymorth Cydraddoldeb (EASS). <a href="https://www.equalityadvisoryservice.com" class="govuk-link" target="_blank"> </a>. </p>

        <h2 class="govuk-heading-l">  Cysylltu gyda ni dros y ffân neu ymweld gyda ni yn bersonol </h2>
          <p class="govuk-body">Ewch i unrhyw Ganolfan Byd Gwaith neu Gyngor ar Bopeth i gael taflen yn cyfeirio at ein gwasanaethau. </p>
          <p class="govuk-body">Mae dolenni sain clywedol yn ein swyddfeydd, neu os byddwch yn cysylltu gyda ni cyn eich ymweliad gallwn drefnu gyfieithydd Iaith Arwyddion Prydain (BSL). </p>
          <p class="govuk-body">Os byddwch yn ffonio gall ein hasiantau eich helpu i ddefnyddio'r cyfrifydd ar-lein. Gallant hefyd gynnig cyfrifiad ar lafar dros y ffân, neu ddarparu cyfrifiad ar bapur i chi trwy'r post, print bras, neu braille. </p>

        <h2 class="govuk-heading-l">  Gwybodaeth dechnegol am hygyrchedd y wefan yma </h2>
          <p class="govuk-body">Mae'r Adran Gwaith a Phensiynau wedi ymrwymo i wneud ei gwefan yn hygyrch, yn unol â Rheoliadau Hygyrchedd Cyrff Sector Cyhoeddus (Gwefannau a Chymwysiadau Symudol) (Rhif 2) 2018. </p>
          <p class="govuk-body">Mae'r wefan yma yn cydymffurfio'n llawn gyda'r fersiwn 2.1 safon AA oâr <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link" target="_blank">Canllawiau ar Hydgyrchedd Cynnwys y We</a>. </p>

        <h2 class="govuk-heading-l">  Problemau gyda PDFau a dogfennau eraill </h2>
          <p class="govuk-body">Nid yw nifer oân PDFau hŷn yn cwrdd â safonau hygyrchedd - er enghraifft, efallai na fyddant wedi cael eu marcio i fel eu bod yn hygyrch i raglen ddarllen sgrin. Erbyn mis Medi 2020, rydym yn bwriadu naill ai cyweirio'r rhain neu roi tudalennau HTML hygyrch yn eu lle. </p>

        <h2 class="govuk-heading-l">  Sut y gwnaethom brofi'r wefan yma </h2>
          <p class="govuk-body">Profwyd y wefan yma ar 30/05/2019. Cynhaliwyd y prawf gan Dâm Sicrwydd Ansawdd y Grŷp Cynhaliaeth Plant. </p>
          <p class="govuk-body">Gwnaethom brofi: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>y wefan gyfan, ar gael yn <a href="https://www.gov.uk/calculate-child-maintenance" class="govuk-link" target="_blank">https://www.gov.uk/calculate-child-maintenance</a></li>
          </ul>

          <p class="govuk-body">Mae'r datganiad yma wedi cael ei ddarparu ar 23ain Medi 2019. Diweddarwyd ddiwethaf ar 23ain Medi 2019. </p>
    </div>
</div>
{% endblock %}