<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      class="govuk-template app-html-class"
      lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>Applying for new style Jobseeker’s Allowance | Contact Centre</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c"/>
    <meta property="og:image"
          content="/agent-ui/assets/images/govuk-opengraph-image.png">

    <link rel="shortcut icon" type="image/x-icon"
          href="/agent-ui/assets/images/favicon.ico">
    <link rel="mask-icon" href="/agent-ui/assets/images/govuk-mask-icon.svg"
          color="blue">
    <link rel="apple-touch-icon" sizes="180x180"
          href="/agent-ui/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167"
          href="/agent-ui/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152"
          href="/agent-ui/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon"
          href="/agent-ui/assets/images/govuk-apple-touch-icon.png">

    <!--[if !IE 8]><!-->
    <link rel="stylesheet"
          href="/public/stylesheets/file.css">


    <!--[if lt IE 9]>
    <script src="/agent-ui/js/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script',
            'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create',
            "",
            'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->


</head>
<body class="govuk-template__body app-body-class">
<script>document.body.className = ((document.body.className)
    ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <header class="dwp-header " role="banner" data-module="dwp-header">
    <div class="dwp-header__container govuk-width-container">

        <div class="dwp-header__contents">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <a href="/agent-ui/contact-centre" class="dwp-header__link dwp-header__link--service-name">Applying for new style Jobseeker’s Allowance</a>

                </div>


                

            </div>


        </div>

    </div>
</header>
    <section class="key-details-bar dwp-print-hide" role="contentinfo"
                 aria-label="Key details" id="nino-search-result">
            <dl class="key-details-bar__contents govuk-width-container">
                <div class="key-details-bar__header">
                    <dt class="govuk-visually-hidden">Name:</dt>
                    <dd class="key-details-bar__name">Mrs FirstName LastName</dd>

                    <dt class="govuk-visually-hidden">National Insurance number:</dt>
                    <dd class="key-details-bar__nino">CC 00 00 02 A</dd>

                    <dt class="govuk-visually-hidden">Status:</dt>
                    <dd class="key-details-bar__status">Preview</dd>
                    
                    
                </div>

                <div class="key-details-bar__body">


                    <dt>DOB:</dt>
                    <dd>10/09/1984</dd>

                    <dt>Postcode:</dt>
                    <dd>PO57 0DE</dd>

                    <dt>Phone:</dt>
                    <dd>00000000000</dd>

                    <dt>Claim submitted (IDOC):</dt>
                    <dd>10/09/2019</dd>

                </div>
            </dl>
        </section>
    

<div class="govuk-width-container">


    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-!-margin-top-8">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l govuk-visually-hidden">Claim for Jobseeker&#39;s Allowance</h1>
                    <section>
        <div class="govuk-warning-text ">
            
                <section>
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <span class="govuk-warning-text__assistive"></span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-heading-s govuk-!-margin-bottom-0">Claimant doesn&#39;t match CIS record</span>
        </strong>
    </section>
            
            
            
            
        </div>
        
        
    </section>
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">
                    <section>

    <div class="govuk-!-margin-top-9">
        <h2 class="govuk-heading-m ">Personal Details</h2>

        <dl role="list" class="app-check-your-answers app-check-your-answers--long">

            <div role="presentation" class="app-check-your-answers__contents">
    <dt role="term" class="app-check-your-answers__question">Contact Number</dt>
    <dd role="definition" class="app-check-your-answers__answer">00000000000</dd>
    <dd role="presentation" class="app-check-your-answers__change">
    </dd>
</div>


            <div role="presentation" class="app-check-your-answers__contents">
    <dt role="term" class="app-check-your-answers__question">Home Address</dt>
    <dd role="definition" class="app-check-your-answers__answer">
        <span class="dwp-print-block">Address Line One</span>
        <span class="dwp-print-block"></span>
        <span class="dwp-print-block">Town</span>
        <span class="dwp-print-block">PO57 0DE</span>
        <span class="dwp-print-block">ENGLAND.</span>
    </dd>
    <dd role="presentation" class="app-check-your-answers__change">
    </dd>
</div>


            
                <div role="presentation" class="app-check-your-answers__contents">
    <dt role="term" class="app-check-your-answers__question">Postal Address</dt>
    <dd role="definition" class="app-check-your-answers__answer">
        <span class="dwp-print-block">Address Line One</span>
        <span class="dwp-print-block">Address Line Two</span>
        <span class="dwp-print-block">Town Name</span>
        <span class="dwp-print-block">PO57 0DE</span>
        <span class="dwp-print-block">ENGLAND.</span>
    </dd>
    <dd role="presentation" class="app-check-your-answers__change">
    </dd>
</div>
            

            
    <div role="presentation" class="app-check-your-answers__contents">
        <dt role="term" class="app-check-your-answers__question">Not available on these days</dt>
        <dd role="definition" class="app-check-your-answers__answer">
            
            
                <span>Not Applicable</span>
            
        </dd>

    </div>



        </dl>
    </div>

</section>
                    <section>

    <div class="govuk-!-margin-top-9">
        <h2 class="govuk-heading-m">Local office</h2>

        <dl role="list" class="app-check-your-answers app-check-your-answers--long">

            
                <div role="presentation" class="app-check-your-answers__contents">
    <dt role="term" class="app-check-your-answers__question">Telephone</dt>
    <dd role="definition" class="app-check-your-answers__answer">
        <span>0800 169 0190</span>
        <br>
        <span>Welsh language 0345 604 4248</span>
    </dd>
    <dd role="presentation" class="app-check-your-answers__change">
    </dd>
</div>

                <div role="presentation" class="app-check-your-answers__contents">
                    <dt role="term" class="app-check-your-answers__question">Name</dt>
                    <dd role="definition" class="app-check-your-answers__answer">Portsmouth Jobcentre</dd>

                </div>

                <div role="presentation" class="app-check-your-answers__contents">
    <dt role="term" class="app-check-your-answers__question">Address</dt>
    <dd role="definition" class="app-check-your-answers__answer">
        <span class="dwp-print-block">Old Canal House, 27 Arundel Street</span>
        <span class="dwp-print-block">Portsmouth</span>
        <span class="dwp-print-block">Hampshire</span>
        <span class="dwp-print-block">PO1 1NB</span>
        
    </dd>
    <dd role="presentation" class="app-check-your-answers__change">
    </dd>
</div>


            
            

        </dl>
    </div>

</section>


                </div>
                <div class="govuk-grid-column-one-third">

                    <section>
    <aside class="app-related-items govuk-!-margin-top-0" role="complementary">
        <h3 class="govuk-heading-m" id="claim-actions-title">Claim actions</h3>
        <nav role="navigation" aria-labelledby="claim-actions-title">
            <ul class="govuk-list govuk-!-font-size-16">
                
                <li><a
                        href="/agent-ui/claim/update?claimantId=66cd3bc9-3b40-44c5-bfc2-3ed25f10e6f4">Update claim information</a></li>
                
                
            </ul>
        </nav>
    </aside>
</section>
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                    <section>
    <h3 class="govuk-heading-m" id="subsection-title">Claim status history</h3>
    <a href="/agent-ui/claim/update-status?claimantId=66cd3bc9-3b40-44c5-bfc2-3ed25f10e6f4" role="button" draggable="false"
       class="govuk-button govuk-!-margin-bottom-0">Update claim status</a>

    <ol class="dwp-timeline">
        <li class="dwp-timeline-entry">

            
                

                

                

                

                <h3 class="dwp-timeline-title govuk-heading-s">
                    Preview
                    <span class="govuk-body-s"> - Too early 7-8am</span>
                </h3>

            

            <p class="dwp-timeline-info">
                <span class="dwp-timeline-author">Waistle Samantha Digital Group L</span>
                <span class="dwp-timeline-date"> on 10/09/2019 at 13:35:39</span>
            </p>
        </li>
        <li class="dwp-timeline-entry">

            
                

                

                

                <h3 class="dwp-timeline-title govuk-heading-s">New claim</h3>

                

            

            <p class="dwp-timeline-info">
                <span class="dwp-timeline-author">Agent</span>
                <span class="dwp-timeline-date"> on 10/09/2019 at 13:32:33</span>
            </p>
        </li>
    </ol>
</section>


                </div>
            </div>
        </div>

    </main>
</div>


    <footer class="govuk-footer" role="contentinfo">
        <div class="govuk-width-container ">
            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                    <h2 class="govuk-visually-hidden">Support links</h2>
                    <ul class="govuk-footer__inline-list">
                        
                    </ul>
                    <svg role="presentation" focusable="false" class="govuk-footer__licence-logo"
                         xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
                        <path
                                fill="currentColor"
                                d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
                        />
                    </svg>
                    <span class="govuk-footer__licence-description">
                        All content is available under the
                        <a class="govuk-footer__link"
                           href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                           rel="license">
                            Open Government Licence v3.0</a>, except where otherwise stated
                    </span>
                </div>
                <div class="govuk-footer__meta-item">
                    <a class="govuk-footer__link govuk-footer__copyright-logo"
                       href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/"
                    >© Crown copyright</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="/agent-ui/js/dwp-jsa-admin-application-0.0.7-min.js"></script>
</body>
</html>
