
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
       A11Y Test pages
      </h1>
      <p>
        A selection of pages for a11y demos
      </p>


      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/demo/select">IOS - select elements</a> <a href="/demo/select-no-branding">None-branded</a></li>
        <li><a href="/demo/radio">ZoomText - Radios</a></li>
        <li><a href="/demo/legend">ZoomText - Legend issue</a></li>
        <li><a href="/demo/select-country">ZoomText - Select box</a></li>
        <li><a href="/demo/checkbox">ZoomText - checkbox</a></li>
        <li><a href="/demo/text">Read&amp;Write - now with questions</a> - <a href="/demo/text-no-branding">None-branded</a></li>
        <li><a href="/demo/warning">Read&amp;Write - warning</a></li>
        <li><a href="/demo/date-input">Dragon - Date fields</a></li>
      </ul>
    </div>
</div>


{% endblock %}
